<% @projects.each do |project| %>
  <%= link_to "詳細", "/projects/#{project.id}", method: :get %>
  <p><%= project.title %></p>
  <p><%= project.state %></p>
  <p><%= project.released_at.strftime("%Y/%m/%d %H:%M") %></p>
<% end %>
